HTML {
	PADDING-RIGHT: 5%; PADDING-LEFT: 5%; FONT-SIZE: 90%; BACKGROUND: url(dots/bg-336699.jpg) #369 fixed left top; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; FONT-FAMILY: Calibri, Tahoma, "Bitstream Vera Sans", Lucida, sans-serif
}
HTML.gameprog {
	BACKGROUND-IMAGE: url(dots/bg-aa4444.jpg); BACKGROUND-COLOR: #a44
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 95%; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
BODY#blog H1 {
	MARGIN-TOP: 1em
}
BODY.blog {
	PADDING-TOP: 3em
}
DIV.main {
	BORDER-RIGHT: #000 2px solid; PADDING-RIGHT: 2em; BORDER-TOP: #555 1px solid; PADDING-LEFT: 2em; PADDING-BOTTOM: 1em; MARGIN: 0px; BORDER-LEFT: #555 1px solid; COLOR: #000; PADDING-TOP: 1em; BORDER-BOTTOM: #555 1px solid; BACKGROUND-COLOR: #fff
}
.footer {
	BORDER-RIGHT: #000 2px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; BORDER-LEFT: #555 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000 2px solid; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #fff
}
BODY {
	moz-border-radius: 10px
}
DIV.main {
	moz-border-radius: 10px 10px 0 0
}
.footer {
	moz-border-radius: 0 0 10px 10px
}
H1 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; COLOR: #029; FONT-FAMILY: "avant garde","century gothic","trebuchet ms",sans-serif
}
H2 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; COLOR: #029; FONT-FAMILY: "avant garde","century gothic","trebuchet ms",sans-serif
}
H3 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; COLOR: #029; FONT-FAMILY: "avant garde","century gothic","trebuchet ms",sans-serif
}
H4 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; COLOR: #029; FONT-FAMILY: "avant garde","century gothic","trebuchet ms",sans-serif
}
H5 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; COLOR: #029; FONT-FAMILY: "avant garde","century gothic","trebuchet ms",sans-serif
}
H6 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; COLOR: #029; FONT-FAMILY: "avant garde","century gothic","trebuchet ms",sans-serif
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 35px; FONT-STYLE: italic; FONT-FAMILY: "arial black", verdana, "bitstream vera sans", sans-serif; LETTER-SPACING: -0.05em
}
HTML.gameprog H1 {
	COLOR: #920
}
HTML.gameprog H2 {
	COLOR: #920
}
HTML.gameprog H3 {
	COLOR: #920
}
HTML.gameprog H4 {
	COLOR: #920
}
HTML.gameprog H5 {
	COLOR: #920
}
HTML.gameprog H6 {
	COLOR: #920
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px
}
HTML.gameprog H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px
}
HTML.gameprog H2 {
	BORDER-TOP: #ccc 1px solid
}
BODY#blog H2 :link {
	TEXT-DECORATION: none
}
BODY#blog H2 :visited {
	TEXT-DECORATION: none
}
H2:unknown {
	FONT-SIZE: 2em; COLOR: #f00
}
DIV:unknown {
	BORDER-RIGHT: #888 1px dashed; BORDER-TOP: #888 1px dashed; BORDER-LEFT: #888 1px dashed; BORDER-BOTTOM: #888 1px dashed
}
ADDRESS {
	TEXT-ALIGN: right
}
.footer P {
	MARGIN: 0px
}
.footer HR {
	DISPLAY: none
}
:link {
	COLOR: #237
}
HTML.gameprog :link {
	COLOR: #a44
}
:visited {
	COLOR: #626
}
HTML.gameprog :visited {
	COLOR: #842
}
:hover {
	COLOR: #00f; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
:hover {
	COLOR: #00f; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
INPUT:unknown {
	COLOR: highlighttext; BACKGROUND-COLOR: highlight
}
DIV.nav {
	BACKGROUND-COLOR: #258
}
DIV.subnav {
	BACKGROUND-COLOR: #258
}
HTML.gameprog DIV.nav {
	BACKGROUND-COLOR: #933
}
HTML.gameprog DIV.subnav {
	BACKGROUND-COLOR: #933
}
DIV.nav {
	MARGIN: 0px 3em; moz-border-radius: 100% 100% 0 0
}
DIV.subnav {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; MARGIN: 0px 2em; PADDING-TOP: 0px; moz-border-radius: 50% 50% 0 0
}
DIV.nav UL {
	PADDING-LEFT: 3em; FONT-SIZE: small; MARGIN: 0px; FONT-FAMILY: sans-serif
}
DIV.subnav UL {
	PADDING-LEFT: 3em; FONT-SIZE: small; MARGIN: 0px; FONT-FAMILY: sans-serif
}
DIV.nav UL {
	PADDING-TOP: 10px
}
DIV.nav LI {
	DISPLAY: inline; MARGIN: 0px; LIST-STYLE-TYPE: none
}
DIV.subnav LI {
	DISPLAY: inline; MARGIN: 0px; LIST-STYLE-TYPE: none
}
DIV.nav LI A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
DIV.subnav LI A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
DIV.nav :link {
	COLOR: #fff
}
DIV.subnav :link {
	COLOR: #fff
}
DIV.nav :visited {
	COLOR: #ccc
}
DIV.subnav :visited {
	COLOR: #ccc
}
DIV.nav :hover {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
DIV.subnav :hover {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
DIV.nav :hover {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
DIV.subnav :hover {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
DIV.nav LI#navcurrent A {
	Z-INDEX: 30; COLOR: #fff; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #000
}
DIV.subnav LI#navcurrent A {
	Z-INDEX: 30; COLOR: #fff; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #000
}
DIV.nav A {
	moz-border-radius: 100%
}
DIV.subnav A {
	moz-border-radius: 100%
}
LI {
	MARGIN-TOP: 0.25em; MARGIN-BOTTOM: 0.5em
}
DD {
	MARGIN-TOP: 0.25em; MARGIN-BOTTOM: 0.5em
}
.compact LI {
	MARGIN: 0px
}
.compact DD {
	MARGIN: 0px
}
UNKNOWN {
	COLOR: #369
}
DT {
	FONT-WEIGHT: bold
}
UNKNOWN {
	COLOR: #a44
}
P {
	LINE-HEIGHT: 1.3; max-width: 40em
}
LI {
	LINE-HEIGHT: 1.3; max-width: 40em
}
DD {
	LINE-HEIGHT: 1.3; max-width: 40em
}
P {
	
}
.note P {
	BORDER-RIGHT: #000 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #000 2px solid; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; BORDER-LEFT: #000 2px solid; WIDTH: 3in; MARGIN-RIGHT: 0%; PADDING-TOP: 10px; BORDER-BOTTOM: #000 2px solid; BACKGROUND-COLOR: #fff
}
.note P {
	moz-border-radius: 12px
}
PRE {
	COLOR: #442
}
CODE {
	COLOR: #442
}
PRE {
	BORDER-RIGHT: #888 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #888 1px solid; PADDING-LEFT: 12px; FONT-SIZE: small; PADDING-BOTTOM: 4px; OVERFLOW: auto; BORDER-LEFT: #888 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #888 1px solid; WHITE-SPACE: pre; BACKGROUND-COLOR: #ededea; max-width: 60em
}
PRE.snippet {
	BORDER-TOP-STYLE: dashed; BORDER-RIGHT-STYLE: dashed; BORDER-LEFT-STYLE: dashed; BORDER-BOTTOM-STYLE: dashed
}
BLOCKQUOTE {
	FONT-STYLE: italic; max-width: 35em
}
TABLE.standard {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.standard TH {
	BACKGROUND-COLOR: #eff
}
HTML.gameprog TABLE.standard TH {
	BACKGROUND-COLOR: #ffe
}
TABLE.standard TD {
	BACKGROUND-COLOR: #fff
}
TABLE.standard TH {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid
}
TABLE.standard TD {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid
}
HR {
	BORDER-TOP: #ccc 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.todo {
	COLOR: #808; FONT-FAMILY: fixed,monospace; BACKGROUND-COLOR: #ccc
}
HTML.gameprog UL LI {
	LIST-STYLE-IMAGE: url(/~amitp/dots/square_red.gif); LIST-STYLE-TYPE: square
}
HTML.gameprog UL LI.new {
	LIST-STYLE-IMAGE: url(/~amitp/dots/square_new_red.gif); LIST-STYLE-TYPE: square
}
HTML.gameprog UL LI.local {
	LIST-STYLE-IMAGE: url(/~amitp/dots/disc_red.gif); LIST-STYLE-TYPE: disc
}
HTML.gameprog UL LI.localnew {
	LIST-STYLE-IMAGE: url(/~amitp/dots/disc_new_red.gif); LIST-STYLE-TYPE: disc
}
DIV.byline {
	TEXT-ALIGN: right
}
