#################
## Eclipse
#################

.metadata
~$ReadMe.docx
~$ReadMe.doc
~WRL0003.tmp
myWebsite/.settings
Sandbox/oldWebsite/doc/content/GameExe_UIExample.rar
Sandbox/oldWebsite/doc/content/GameExe_Torque.rar
Sandbox/oldWebsite/doc/content/Videos/ComputerAnimationIIFinal.mov
Sandbox/oldWebsite/doc/content/Videos/ComputerAnimationII_BugPerils.mov
Sandbox/oldWebsite/doc/content/Videos/Multimedia TimelineDesign_Assignment1.mov
Sandbox/oldWebsite/doc/content/Videos/Maxwells_Demon_Trailer_hi.mov