<div ng-controller="AboutCtrl">
  <h2 ng-bind="aboutHeader"></h2> 

  <p ng-bind="aboutMessage1"></p>
  <p ng-bind="aboutMessage2"></p>
  <p ng-bind="aboutMessage3"></p>
  <p ng-bind="aboutMessage4"></p>
    <button class="btn btn-default btn-sm" ng-click="addItem()" ng-bind="addQuote">Add Quote</button>
    <div ng-repeat="item in items">{{item}}</div>
  </p>
  <p ng-bind="aboutMessage5"></p>
</div>
<div class="container-fluid">
  <div class="row">
     <div class="col-sm-4"><h4 ng-bind="html5"></h4><progressbar class="progress-striped" value="95" type="warning">95%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="css3"></h4><progressbar class="progress-striped" value="95" type="warning">95%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="javaScript"></h4><progressbar class="progress-striped" value="95" type="warning">95%</progressbar></div> 
    <div class="col-sm-4"><h4 ng-bind="ajaxJSON"></h4><progressbar class="progress-striped" value="75" type="warning">75%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="angularJS"></h4><progressbar class="progress-striped" value="90" type="warning">90%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="jquery"></h4><progressbar class="progress-striped" value="85" type="warning">85%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="nodeJS"></h4><progressbar class="progress-striped" value="55" type="warning">55%</progressbar></div>
     <div class="col-sm-4"><h4 ng-bind="githubSVN"></h4><progressbar class="progress-striped" value="95" type="warning">95%</progressbar></div>
     <div class="col-sm-4"><h4 ng-bind="grunt"></h4><progressbar class="progress-striped" value="65" type="warning">65%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="bower"></h4><progressbar class="progress-striped" value="85" type="warning">85%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="yeoman"></h4><progressbar class="progress-striped" value="75" type="warning">75%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="karma"></h4><progressbar class="progress-striped" value="15" type="warning">15%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="jasmin"></h4><progressbar class="progress-striped" value="25" type="warning">25%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="java"></h4><progressbar class="progress-striped" value="60" type="warning">60%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="j2ee"></h4><progressbar class="progress-striped" value="35" type="warning">35%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="c"></h4><progressbar class="progress-striped" value="35" type="warning">35%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="cPlusPlus"></h4><progressbar class="progress-striped" value="35" type="warning">35%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="cSharp"></h4><progressbar class="progress-striped" value="55" type="warning">55%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="aspNet"></h4><progressbar class="progress-striped" value="65" type="warning">65%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="yui"></h4><progressbar class="progress-striped" value="75" type="warning">75%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="jspJstl"></h4><progressbar class="progress-striped" value="45" type="warning">45%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="sqlServer0708"></h4><progressbar class="progress-striped" value="25" type="warning">25%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="xmlxsltfo"></h4><progressbar class="progress-striped" value="25" type="warning">25%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="actionScript"></h4><progressbar class="progress-striped" value="75" type="warning">75%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="torqueScript"></h4><progressbar class="progress-striped" value="25" type="warning">25%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="photoshopCS3"></h4><progressbar class="progress-striped" value="85" type="warning">85%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="maya"></h4><progressbar class="progress-striped" value="35" type="warning">35%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="houdin"></h4><progressbar class="progress-striped" value="15" type="warning">15%</progressbar></div>
    <div class="col-sm-4"><h4 ng-bind="unity3d"></h4><progressbar class="progress-striped" value="10" type="warning">10%</progressbar></div>
  </div>
</div>