/* 
    Document   : hideForMobile
    Created on : Jun 5, 2013, 9:23:11 AM
    Author     : sluttrell
    Description:
        Hide small page elements for mobile without the need for backend changes.
*/

#footer #footerLinks a:last-of-type,
#footer #footerLinks span#hidePipe {display:none;}
