/* 
    Document   : makeOneTimePaymentGlobalMsg
    Created on : May 14, 2013, 9:04:47 AM
    Author     : sluttrell
    Description:
        Styles for the global error message as it appears on the one-time payment page. 
*/

/* supplies correct content */
div.error div#alertBox div#alertBody p:nth-last-of-type(2):before 
{ color: #333; content:"To continue scheduling the additional payment below\002c select \2018Pay\002e\2019 To modify or cancel pending payments\002c visit the payment activity page\002e"; }
