span.subTitle{
    display: none;
}

.newTripQuestion{
    clear: both;
    margin-bottom: 10px;
}

.newTripAddButton{
    height:26px;
    width:28px;
    background-position: 1px -2000px;
    background-image: url('../../../../img/base/tools-education-sprite.png');
    backgrond-repeat: no-repeat;
    float:right;
    margin-right: -32px;
    margin-top: -46px;
    cursor:pointer;
}

#newTripForm p{
    margin-bottom: 10px;
}

