/* resetLogin.jsp */
.vertical-line { background-color: #DCE7ED; border-radius: 5px 5px 5px 5px; display: block; width: 5%; }
.indentRegister { padding-left: 175%; width: 1900%; }
#accountNumber { width: 90% !important; }