.alreadyRounded {
	POSITION: relative
}
#buttonGroup B.cn {
	BACKGROUND: url(../../img/base/grayrounderGrayBG.gif) no-repeat
}
.interstitial .vertical-line B.cn {
	WIDTH: 3px
}
.interstitial .vertical-line B.tr {
	TOP: -2px; RIGHT: 0px
}
.interstitial .vertical-line B.tl {
	TOP: -2px; LEFT: 0px
}
.interstitial .vertical-line B.br {
	BOTTOM: -2px; RIGHT: 0px
}
.interstitial .vertical-line B.bl {
	BOTTOM: -2px; LEFT: 0px
}
B.cn {
	POSITION: absolute; WIDTH: 7px; BACKGROUND: url(../../img/base/grayrounder.gif) no-repeat; HEIGHT: 7px
}
#progbar_rewards .yui-pb-bar B.cn {
	BACKGROUND: url(../../img/base/rewardsProgressgrayrounder.gif) no-repeat
}
DIV.paymentSelectBoxError B.cn {
	BACKGROUND-IMAGE: url(../../img/base/redrounder.gif)
}
.errorBorder B.cn {
	BACKGROUND-IMAGE: url(../../img/base/redrounder.gif)
}
.howMuchSelectBoxError B.cn {
	BACKGROUND-IMAGE: url(../../img/base/redrounder.gif)
}
.tipBorder B.cn {
	BACKGROUND-IMAGE: url(../../img/base/bluerounder.gif)
}
#buttonGroup B.tl {
	BACKGROUND-POSITION: left top; TOP: -1px; LEFT: -1px
}
B.tl {
	BACKGROUND-POSITION: left top; TOP: -1px; LEFT: -1px
}
#progbar_rewards .yui-pb-bar B.tl {
	BACKGROUND-POSITION: left top; TOP: -1px; LEFT: -1px
}
#buttonGroup B.tr {
	BACKGROUND-POSITION: right top; TOP: -1px; RIGHT: -1px
}
B.tr {
	BACKGROUND-POSITION: right top; TOP: -1px; RIGHT: -1px
}
#progbar_rewards .yui-pb-bar B.tr {
	BACKGROUND-POSITION: right top; TOP: -1px; RIGHT: -1px
}
#buttonGroup B.bl {
	BOTTOM: -1px; BACKGROUND-POSITION: left bottom; LEFT: -1px
}
B.bl {
	BOTTOM: -1px; BACKGROUND-POSITION: left bottom; LEFT: -1px
}
#progbar_rewards .yui-pb-bar B.bl {
	BOTTOM: -1px; BACKGROUND-POSITION: left bottom; LEFT: -1px
}
#buttonGroup B.br {
	BOTTOM: -1px; BACKGROUND-POSITION: right bottom; RIGHT: -1px
}
B.br {
	BOTTOM: -1px; BACKGROUND-POSITION: right bottom; RIGHT: -1px
}
#progbar_rewards .yui-pb-bar B.br {
	BOTTOM: -1px; BACKGROUND-POSITION: right bottom; RIGHT: -1px
}
.inputBox {
	BORDER-BOTTOM: #efefef 1px inset; BORDER-LEFT: #efefef 1px inset; BORDER-TOP: #efefef 1px inset; BORDER-RIGHT: #efefef 1px inset
}
#exportTab {
	BORDER-BOTTOM: #d4d4e4 1px solid; BORDER-LEFT: #d4d4e4 1px solid; BORDER-TOP: #d4d4e4 1px solid; BORDER-RIGHT: #d4d4e4 1px solid
}
#exportTable #exportButton {
	
}
#enterPIN #continueButton-button {
	WIDTH: 100%
}
nav#row1b .navBoxLrg B.bl {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.yui-skin-sam .yui-panel#calculatorPanel {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
.yui-skin-sam .yui-panel#purchaseRedemptionPanel {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
.yui-skin-sam .yui-panel#merchantDisclosurePanel {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
.yui-skin-sam .yui-panel .yui-button-menu .bd {
	BORDER-BOTTOM: #d4d4e4 1px solid; BORDER-LEFT: #d4d4e4 1px solid; BORDER-TOP: #d4d4e4 1px solid; BORDER-RIGHT: #d4d4e4 1px solid
}
#calculatorPanel UL#calcList LI {
	TEXT-INDENT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../../img/base/littleListDash.png)
}
.ie8NoDiscOn {
	LIST-STYLE-TYPE: none !important
}
.notLogged .yui-button BUTTON {
	WIDTH: 100%
}
.notLogged .verticalContent .indentRegister .inputBox {
	WIDTH: 324px
}
#accountSettingsSumDetails SUP {
	FONT-SIZE: 97%
}
#ft SUP {
	POSITION: relative; FONT-SIZE: 97%; TOP: 1px
}
#spendByCategoryBtn-button {
	PADDING-LEFT: 2.5em
}
#spendByOverTimeBtn-button {
	PADDING-LEFT: 2.5em
}
#adModalVertical2 .adModalContent {
	WIDTH: 270px
}
