DIV.toolTip .hd {
	LEFT: -12px
}
DIV.error .hd {
	LEFT: -12px
}
DIV.toolTip .bd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
DIV.error .bd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.faqTextOn .hd {
	TOP: 1px
}
.faqTextOn .bd {
	BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.faqTextOn .ft {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.keyPanel .hd {
	TOP: 1px
}
.keyPanel .bd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.dsTextOn .bd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#activityDropdownBtn {
	WIDTH: 30px
}
#activityDropdownIcon {
	WIDTH: 15px; HEIGHT: 15px; LEFT: 11px
}
#activityPanel .hd {
	BORDER-LEFT: #025686 1px solid; BORDER-TOP: #025686 1px solid; BORDER-RIGHT: #025686 1px solid
}
#activityPanel .bd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.paperlessOverlay .hd {
	TOP: 1px
}
.paperlessOverlay .bd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.yui-skin-sam .merchandiseDeliveryInfoText.yui-panel .hd {
	TOP: -20px
}
.yui-skin-sam .giftCardDeliveryInfoText.yui-panel .hd {
	TOP: -20px
}
.yui-skin-sam .merchandiseDeliveryInfoText.yui-panel {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.yui-skin-sam .giftCardDeliveryInfoText.yui-panel {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.yui-skin-sam .yui-panel#merchantDisclosurePanel {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.sideContent {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#orderChecks #editAddress {
	MARGIN: 1em 0px
}
.mvdPanel .bd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.mvdPanel .hd {
	TOP: 1px
}
.customAlertsOptions .hd {
	TOP: 1px
}
#transactionTabs .yui-dt-col-creditamount .yui-dt-liner {
	WIDTH: 92px
}
#calculatorPanel UL#calcList LI:before {
	CONTENT: none
}
.rewardsBefore {
	TOP: -19px
}
.no-boxshadow #acctDel .hd {
	WIDTH: 22px; BACKGROUND-POSITION: 0px 0px; TOP: 4px; LEFT: 330px
}
