HTML {
	BACKGROUND: #fff; COLOR: #000
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ADDRESS {
	
}
BUTTON {
	
}
CAPTION {
	
}
CITE {
	
}
CODE {
	
}
DFN {
	
}
EM {
	
}
INPUT {
	
}
OPTGROUP {
	
}
OPTION {
	
}
SELECT {
	
}
STRONG {
	
}
TEXTAREA {
	
}
TH {
	
}
VAR {
	
}
DEL {
	TEXT-DECORATION: none
}
INS {
	TEXT-DECORATION: none
}
LI {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
SUP {
	VERTICAL-ALIGN: baseline
}
SUB {
	VERTICAL-ALIGN: baseline
}
LEGEND {
	COLOR: #000
}
BODY {
	FONT: small/1.231 arial,helvetica,clean,sans-serif
}
SELECT {
	FONT: 99% arial,helvetica,clean,sans-serif
}
INPUT {
	FONT: 99% arial,helvetica,clean,sans-serif
}
TEXTAREA {
	FONT: 99% arial,helvetica,clean,sans-serif
}
BUTTON {
	FONT: 99% arial,helvetica,clean,sans-serif
}
TABLE {
	
}
PRE {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
CODE {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
KBD {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
SAMP {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
TT {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace; FONT-SIZE: 108%
}
BODY {
	TEXT-ALIGN: center
}
#doc {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
#doc2 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
#doc3 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
#doc4 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-t1 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-t2 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-t3 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-t4 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-t5 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-t6 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
.yui-t7 {
	TEXT-ALIGN: left; MARGIN: auto; WIDTH: 56.25em
}
#doc2 {
	WIDTH: 71.25em
}
#doc3 {
	MARGIN: auto 10px; WIDTH: auto
}
#doc4 {
	WIDTH: 73.05em
}
.yui-b {
	POSITION: relative
}
.yui-b {
	_position: static
}
#yui-main .yui-b {
	POSITION: static
}
#yui-main {
	WIDTH: 100%
}
.yui-g .yui-u .yui-g {
	WIDTH: 100%
}
.yui-t1 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t2 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t3 #yui-main {
	FLOAT: right; MARGIN-LEFT: -25em
}
.yui-t4 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t5 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t6 #yui-main {
	FLOAT: left; MARGIN-RIGHT: -25em
}
.yui-t1 .yui-b {
	WIDTH: 12em; FLOAT: left
}
.yui-t1 #yui-main .yui-b {
	MARGIN-LEFT: 13.05em
}
.yui-t2 .yui-b {
	WIDTH: 13.5em; FLOAT: left
}
.yui-t2 #yui-main .yui-b {
	MARGIN-LEFT: 14.55em
}
.yui-t3 .yui-b {
	WIDTH: 22.5em; FLOAT: left
}
.yui-t3 #yui-main .yui-b {
	MARGIN-LEFT: 23.62em
}
.yui-t4 .yui-b {
	WIDTH: 13.5em; FLOAT: right
}
.yui-t4 #yui-main .yui-b {
	MARGIN-RIGHT: 14.55em
}
.yui-t5 .yui-b {
	WIDTH: 18em; FLOAT: right
}
.yui-t5 #yui-main .yui-b {
	MARGIN-RIGHT: 19.12em
}
.yui-t6 .yui-b {
	WIDTH: 22.5em; FLOAT: right
}
.yui-t6 #yui-main .yui-b {
	MARGIN-RIGHT: 23.62em
}
.yui-t7 #yui-main .yui-b {
	MARGIN: 0px 0px 1em; DISPLAY: block
}
#yui-main .yui-b {
	WIDTH: auto; FLOAT: none
}
.yui-gb .yui-u {
	FLOAT: left
}
.yui-g .yui-gb .yui-u {
	FLOAT: left
}
.yui-gb .yui-g {
	FLOAT: left
}
.yui-gb .yui-gb {
	FLOAT: left
}
.yui-gb .yui-gc {
	FLOAT: left
}
.yui-gb .yui-gd {
	FLOAT: left
}
.yui-gb .yui-ge {
	FLOAT: left
}
.yui-gb .yui-gf {
	FLOAT: left
}
.yui-gc .yui-u {
	FLOAT: left
}
.yui-gc .yui-g {
	FLOAT: left
}
.yui-gd .yui-u {
	FLOAT: left
}
.yui-g .yui-u {
	FLOAT: right
}
.yui-g .yui-g {
	FLOAT: right
}
.yui-g .yui-gb {
	FLOAT: right
}
.yui-g .yui-gc {
	FLOAT: right
}
.yui-g .yui-gd {
	FLOAT: right
}
.yui-g .yui-ge {
	FLOAT: right
}
.yui-g .yui-gf {
	FLOAT: right
}
.yui-gc .yui-u {
	FLOAT: right
}
.yui-gd .yui-g {
	FLOAT: right
}
.yui-g .yui-gc .yui-u {
	FLOAT: right
}
.yui-ge .yui-u {
	FLOAT: right
}
.yui-ge .yui-g {
	FLOAT: right
}
.yui-gf .yui-g {
	FLOAT: right
}
.yui-gf .yui-u {
	FLOAT: right
}
.yui-g DIV.first {
	FLOAT: left
}
.yui-gb DIV.first {
	FLOAT: left
}
.yui-gc DIV.first {
	FLOAT: left
}
.yui-gd DIV.first {
	FLOAT: left
}
.yui-ge DIV.first {
	FLOAT: left
}
.yui-gf DIV.first {
	FLOAT: left
}
.yui-g .yui-gc DIV.first {
	FLOAT: left
}
.yui-g .yui-ge DIV.first {
	FLOAT: left
}
.yui-gc DIV.first DIV.first {
	FLOAT: left
}
.yui-g .yui-u {
	WIDTH: 49.1%
}
.yui-g .yui-g {
	WIDTH: 49.1%
}
.yui-g .yui-gb {
	WIDTH: 49.1%
}
.yui-g .yui-gc {
	WIDTH: 49.1%
}
.yui-g .yui-gd {
	WIDTH: 49.1%
}
.yui-g .yui-ge {
	WIDTH: 49.1%
}
.yui-g .yui-gf {
	WIDTH: 49.1%
}
.yui-gb .yui-u {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-g .yui-gb .yui-u {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gb .yui-g {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gb .yui-gb {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gb .yui-gc {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gb .yui-gd {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gb .yui-ge {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gb .yui-gf {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gc .yui-u {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gc .yui-g {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gd .yui-u {
	WIDTH: 32%; MARGIN-LEFT: 1.99%
}
.yui-gb .yui-u {
	WIDTH: 31.9%; MARGIN-LEFT: 1.9%
}
.yui-gc DIV.first {
	WIDTH: 66%
}
.yui-gd .yui-u {
	WIDTH: 66%
}
.yui-gd DIV.first {
	WIDTH: 32%
}
.yui-ge DIV.first {
	WIDTH: 74.2%
}
.yui-gf .yui-u {
	WIDTH: 74.2%
}
.yui-ge .yui-u {
	WIDTH: 24%
}
.yui-gf DIV.first {
	WIDTH: 24%
}
.yui-g .yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gc DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gd DIV.first {
	MARGIN-LEFT: 0px
}
.yui-g .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gb .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gc .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gd .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-ge .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gf .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-g .yui-g .yui-u {
	WIDTH: 48.1%
}
.yui-g .yui-gb DIV.first {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _width: 31.7%
}
.yui-gb .yui-gb DIV.first {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _width: 31.7%
}
.yui-g .yui-gc DIV.first {
	WIDTH: 66%
}
.yui-gd .yui-g {
	WIDTH: 66%
}
.yui-gb .yui-g DIV.first {
	MARGIN-RIGHT: 4%; _margin-right: 1.3%
}
.yui-gb .yui-gc DIV.first {
	MARGIN-RIGHT: 0px
}
.yui-gb .yui-gd DIV.first {
	MARGIN-RIGHT: 0px
}
.yui-gb .yui-gb .yui-u {
	MARGIN-LEFT: 1.8%; _margin-left: 4%
}
.yui-gb .yui-gc .yui-u {
	MARGIN-LEFT: 1.8%; _margin-left: 4%
}
.yui-g .yui-gb .yui-u {
	_margin-left: 1.0%
}
.yui-gb .yui-gd .yui-u {
	WIDTH: 66%; _width: 61.2%
}
.yui-gb .yui-gd DIV.first {
	WIDTH: 31%; _width: 29.5%
}
.yui-g .yui-gc .yui-u {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _margin-left: 0; _float: right
}
.yui-gb .yui-gc .yui-u {
	WIDTH: 32%; MARGIN-RIGHT: 0px; _margin-left: 0; _float: right
}
.yui-gb .yui-gc DIV.first {
	WIDTH: 66%; FLOAT: left; MARGIN-LEFT: 0px
}
.yui-gb .yui-ge .yui-u {
	MARGIN: 0px
}
.yui-gb .yui-gf .yui-u {
	MARGIN: 0px
}
.yui-gb .yui-gb .yui-u {
	_margin-left: .7%
}
.yui-gb .yui-g DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gb .yui-gb DIV.first {
	MARGIN-LEFT: 0px
}
.yui-gc .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gd .yui-g .yui-u {
	WIDTH: 48.1%; MARGIN-LEFT: 0px
}
.yui-gb .yui-gd DIV.first {
	WIDTH: 32%
}
.yui-g .yui-gd DIV.first {
	_width: 29.9%
}
.yui-ge .yui-g {
	WIDTH: 24%
}
.yui-gf .yui-g {
	WIDTH: 74.2%
}
.yui-gb .yui-ge DIV.yui-u {
	FLOAT: right
}
.yui-gb .yui-gf DIV.yui-u {
	FLOAT: right
}
.yui-gb .yui-ge DIV.first {
	FLOAT: left
}
.yui-gb .yui-gf DIV.first {
	FLOAT: left
}
.yui-gb .yui-ge .yui-u {
	WIDTH: 24%; _width: 20%
}
.yui-gb .yui-gf DIV.first {
	WIDTH: 24%; _width: 20%
}
.yui-gb .yui-ge DIV.first {
	WIDTH: 73.5%; _width: 65.5%
}
.yui-gb .yui-gf .yui-u {
	WIDTH: 73.5%; _width: 65.5%
}
.yui-ge DIV.first .yui-gd .yui-u {
	WIDTH: 65%
}
.yui-ge DIV.first .yui-gd DIV.first {
	WIDTH: 32%
}
#hd:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#bd:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#ft:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.yui-g:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.yui-gb:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.yui-gc:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.yui-gd:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.yui-ge:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
.yui-gf:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#hd {
	ZOOM: 1
}
#bd {
	ZOOM: 1
}
#ft {
	ZOOM: 1
}
.yui-g {
	ZOOM: 1
}
.yui-gb {
	ZOOM: 1
}
.yui-gc {
	ZOOM: 1
}
.yui-gd {
	ZOOM: 1
}
.yui-ge {
	ZOOM: 1
}
.yui-gf {
	ZOOM: 1
}
.yui-button {
	DISPLAY: inline-block; VERTICAL-ALIGN: text-bottom
}
.yui-button .first-child {
	DISPLAY: inline-block
}
.yui-button BUTTON {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN: 0px; DISPLAY: inline-block; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.yui-button A {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN: 0px; DISPLAY: inline-block; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.yui-button BUTTON {
	BACKGROUND-COLOR: transparent; OVERFLOW: visible; CURSOR: pointer
}
.yui-button A {
	TEXT-DECORATION: none
}
.yui-skin-sam .yui-button {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 0px solid; MARGIN: auto 0.25em; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) repeat-x 0px 0px; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 0px solid
}
.yui-skin-sam .yui-button .first-child {
	BORDER-BOTTOM: #808080 0px solid; BORDER-LEFT: #808080 1px solid; MARGIN: 0px -1px; BORDER-TOP: #808080 0px solid; BORDER-RIGHT: #808080 1px solid; _margin: 0
}
.yui-skin-sam .yui-button BUTTON {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.7; MIN-HEIGHT: auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; FONT-SIZE: 93%; PADDING-TOP: 0px
}
.yui-skin-sam .yui-button A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.7; MIN-HEIGHT: auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; FONT-SIZE: 93%; PADDING-TOP: 0px
}
.yui-skin-sam .yui-button A:visited {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.7; MIN-HEIGHT: auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; FONT-SIZE: 93%; PADDING-TOP: 0px
}
.yui-skin-sam .yui-button A {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 1.875
}
.yui-skin-sam .yui-split-button BUTTON {
	PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center
}
.yui-skin-sam .yui-menu-button BUTTON {
	PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center
}
.yui-skin-sam .yui-menu-button BUTTON {
	BACKGROUND-IMAGE: url(menu-button-arrow.png)
}
.yui-skin-sam .yui-split-button BUTTON {
	BACKGROUND-IMAGE: url(split-button-arrow.png)
}
.yui-skin-sam .yui-button-focus {
	BORDER-BOTTOM-COLOR: #7d98b8; BORDER-TOP-COLOR: #7d98b8; BACKGROUND-POSITION: 0px -1300px; BORDER-RIGHT-COLOR: #7d98b8; BORDER-LEFT-COLOR: #7d98b8
}
.yui-skin-sam .yui-button-focus .first-child {
	BORDER-BOTTOM-COLOR: #7d98b8; BORDER-TOP-COLOR: #7d98b8; BORDER-RIGHT-COLOR: #7d98b8; BORDER-LEFT-COLOR: #7d98b8
}
.yui-skin-sam .yui-split-button-focus BUTTON {
	BACKGROUND-IMAGE: url(split-button-arrow-focus.png)
}
.yui-skin-sam .yui-button-hover {
	BORDER-BOTTOM-COLOR: #7d98b8; BORDER-TOP-COLOR: #7d98b8; BACKGROUND-POSITION: 0px -1300px; BORDER-RIGHT-COLOR: #7d98b8; BORDER-LEFT-COLOR: #7d98b8
}
.yui-skin-sam .yui-button-hover .first-child {
	BORDER-BOTTOM-COLOR: #7d98b8; BORDER-TOP-COLOR: #7d98b8; BORDER-RIGHT-COLOR: #7d98b8; BORDER-LEFT-COLOR: #7d98b8
}
.yui-skin-sam .yui-split-button-hover BUTTON {
	BACKGROUND-IMAGE: url(split-button-arrow-hover.png)
}
.yui-skin-sam .yui-button-active {
	BORDER-BOTTOM-COLOR: #7d98b8; BORDER-TOP-COLOR: #7d98b8; BACKGROUND-POSITION: 0px -1700px; BORDER-RIGHT-COLOR: #7d98b8; BORDER-LEFT-COLOR: #7d98b8
}
.yui-skin-sam .yui-button-active .first-child {
	BORDER-BOTTOM-COLOR: #7d98b8; BORDER-TOP-COLOR: #7d98b8; BORDER-RIGHT-COLOR: #7d98b8; BORDER-LEFT-COLOR: #7d98b8
}
.yui-skin-sam .yui-split-button-activeoption {
	BORDER-BOTTOM-COLOR: #808080; BORDER-TOP-COLOR: #808080; BACKGROUND-POSITION: 0px 0px; BORDER-RIGHT-COLOR: #808080; BORDER-LEFT-COLOR: #808080
}
.yui-skin-sam .yui-split-button-activeoption .first-child {
	BORDER-BOTTOM-COLOR: #808080; BORDER-TOP-COLOR: #808080; BORDER-RIGHT-COLOR: #808080; BORDER-LEFT-COLOR: #808080
}
.yui-skin-sam .yui-split-button-activeoption BUTTON {
	BACKGROUND-IMAGE: url(split-button-arrow-active.png)
}
.yui-skin-sam .yui-radio-button-checked {
	BORDER-BOTTOM-COLOR: #304369; BORDER-TOP-COLOR: #304369; BACKGROUND-POSITION: 0px -1400px; BORDER-RIGHT-COLOR: #304369; BORDER-LEFT-COLOR: #304369
}
.yui-skin-sam .yui-checkbox-button-checked {
	BORDER-BOTTOM-COLOR: #304369; BORDER-TOP-COLOR: #304369; BACKGROUND-POSITION: 0px -1400px; BORDER-RIGHT-COLOR: #304369; BORDER-LEFT-COLOR: #304369
}
.yui-skin-sam .yui-radio-button-checked .first-child {
	BORDER-BOTTOM-COLOR: #304369; BORDER-TOP-COLOR: #304369; BORDER-RIGHT-COLOR: #304369; BORDER-LEFT-COLOR: #304369
}
.yui-skin-sam .yui-checkbox-button-checked .first-child {
	BORDER-BOTTOM-COLOR: #304369; BORDER-TOP-COLOR: #304369; BORDER-RIGHT-COLOR: #304369; BORDER-LEFT-COLOR: #304369
}
.yui-skin-sam .yui-radio-button-checked BUTTON {
	COLOR: #fff
}
.yui-skin-sam .yui-checkbox-button-checked BUTTON {
	COLOR: #fff
}
.yui-skin-sam .yui-button-disabled {
	BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BACKGROUND-POSITION: 0px -1500px; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.yui-skin-sam .yui-button-disabled .first-child {
	BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.yui-skin-sam .yui-button-disabled BUTTON {
	COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yui-button-disabled A {
	COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yui-button-disabled A:visited {
	COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yui-menu-button-disabled BUTTON {
	BACKGROUND-IMAGE: url(menu-button-arrow-disabled.png)
}
.yui-skin-sam .yui-split-button-disabled BUTTON {
	BACKGROUND-IMAGE: url(split-button-arrow-disabled.png)
}
.yuimenu {
	TOP: -999em; LEFT: -999em
}
.yuimenubar {
	POSITION: static
}
.yuimenu .yuimenu {
	POSITION: absolute
}
.yuimenubar .yuimenu {
	POSITION: absolute
}
.yuimenubar LI {
	LIST-STYLE-TYPE: none
}
.yuimenu LI {
	LIST-STYLE-TYPE: none
}
.yuimenubar UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yuimenu UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yuimenubar LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yuimenu LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yuimenu H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yuimenubar H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yuimenuitemlabel {
	TEXT-ALIGN: left; WHITE-SPACE: nowrap
}
.yuimenubaritemlabel {
	TEXT-ALIGN: left; WHITE-SPACE: nowrap
}
.yuimenubar UL {
	ZOOM: 1
}
.yuimenubar .yuimenu UL {
	ZOOM: normal
}
.yuimenubar > .bd > UL:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.yuimenubaritem {
	FLOAT: left
}
.yuimenubaritemlabel {
	DISPLAY: block
}
.yuimenuitemlabel {
	DISPLAY: block
}
.yuimenuitemlabel .helptext {
	FONT-STYLE: normal; MARGIN: -1em 0px 0px 10em; DISPLAY: block
}
.yui-menu-shadow {
	Z-INDEX: -1; POSITION: absolute; VISIBILITY: hidden
}
.yui-menu-shadow-visible {
	BOTTOM: -3px; DISPLAY: block; TOP: 2px; RIGHT: -3px; LEFT: -3px
}
.hide-scrollbars * {
	OVERFLOW: hidden
}
.hide-scrollbars SELECT {
	DISPLAY: none
}
.show-scrollbars.yuimenu {
	OVERFLOW: visible
}
.show-scrollbars.yuimenubar {
	OVERFLOW: visible
}
.hide-scrollbars.yuimenu .yui-menu-shadow {
	OVERFLOW: hidden
}
.hide-scrollbars.yuimenubar .yui-menu-shadow {
	OVERFLOW: hidden
}
.show-scrollbars.yuimenu .yui-menu-shadow {
	OVERFLOW: auto
}
.show-scrollbars.yuimenubar .yui-menu-shadow {
	OVERFLOW: auto
}
.yui-force-redraw.yui-overlay {
	MARGIN-BOTTOM: 1px
}
.yui-skin-sam .yuimenubar {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; LINE-HEIGHT: 1.9; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) repeat-x 0px 0px; FONT-SIZE: 93%; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
.yui-skin-sam .yuimenubarnav .yuimenubaritem {
	BORDER-RIGHT: #ccc 1px solid
}
.yui-skin-sam .yuimenubaritemlabel {
	BORDER-BOTTOM: #808080 1px solid; POSITION: relative; BORDER-LEFT: #808080 0px solid; PADDING-BOTTOM: 0px; MARGIN: -1px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #000; BORDER-TOP: #808080 1px solid; CURSOR: default; BORDER-RIGHT: #808080 0px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.yui-skin-sam .yuimenubaritemlabel:visited {
	COLOR: #000
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel {
	PADDING-RIGHT: 20px; DISPLAY: inline-block
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu {
	BACKGROUND: url(menubaritem_submenuindicator.png) no-repeat right center
}
.yui-skin-sam .yuimenubaritem-selected {
	BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) repeat-x 0px -1700px
}
.yui-skin-sam .yuimenubaritemlabel-selected {
	BORDER-BOTTOM-COLOR: #7d98b8; BORDER-TOP-COLOR: #7d98b8; BORDER-RIGHT-COLOR: #7d98b8; BORDER-LEFT-COLOR: #7d98b8
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-selected {
	MARGIN-LEFT: -1px; BORDER-LEFT-WIDTH: 1px; LEFT: -1px
}
.yui-skin-sam .yuimenubaritemlabel-disabled {
	COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yuimenubaritemlabel-disabled:visited {
	COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled {
	BACKGROUND-IMAGE: url(menubaritem_submenuindicator_disabled.png)
}
.yui-skin-sam .yuimenu {
	LINE-HEIGHT: 1.45; FONT-SIZE: 93%
}
.yui-skin-sam .yuimenubar .yuimenu {
	FONT-SIZE: 100%
}
.yui-skin-sam .yuimenu .yuimenu {
	FONT-SIZE: 100%
}
.yui-skin-sam .yuimenu .bd {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; BACKGROUND-COLOR: #fff; ZOOM: 1; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid; _zoom: normal
}
.yui-skin-sam .yuimenu .yuimenu .bd {
	ZOOM: normal
}
.yui-skin-sam .yuimenu UL {
	BORDER-BOTTOM: #ccc 0px solid; BORDER-LEFT: #ccc 0px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 0px solid; PADDING-TOP: 3px
}
.yui-skin-sam .yuimenu UL.first-of-type {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yuimenu H6 {
	BORDER-BOTTOM: #ccc 0px solid; BORDER-LEFT: #ccc 0px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #a4a4a4; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ccc 0px solid; PADDING-TOP: 3px
}
.yui-skin-sam .yuimenu UL.hastitle {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yuimenu H6.first-of-type {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yuimenu .yui-menu-body-scrolled {
	BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #808080; OVERFLOW: hidden; BORDER-LEFT-COLOR: #808080
}
.yui-skin-sam .yuimenu .topscrollbar {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #fff no-repeat 0px 0px; HEIGHT: 16px; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
.yui-skin-sam .yuimenu .bottomscrollbar {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #fff no-repeat 0px 0px; HEIGHT: 16px; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
.yui-skin-sam .yuimenu .topscrollbar {
	BACKGROUND-POSITION: center -950px; BORDER-BOTTOM-WIDTH: 0px
}
.yui-skin-sam .yuimenu .topscrollbar_disabled {
	BACKGROUND-POSITION: center -975px
}
.yui-skin-sam .yuimenu .bottomscrollbar {
	BACKGROUND-POSITION: center -850px; BORDER-TOP-WIDTH: 0px
}
.yui-skin-sam .yuimenu .bottomscrollbar_disabled {
	BACKGROUND-POSITION: center -875px
}
.yui-skin-sam .yuimenuitem {
	_border-bottom: solid 1px #fff
}
.yui-skin-sam .yuimenuitemlabel {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.yui-skin-sam .yuimenuitemlabel:visited {
	COLOR: #000
}
.yui-skin-sam .yuimenuitemlabel .helptext {
	MARGIN-TOP: -1.45em
}
.yui-skin-sam .yuimenuitem-hassubmenu {
	BACKGROUND-IMAGE: url(menuitem_submenuindicator.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center
}
.yui-skin-sam .yuimenuitem-checked {
	BACKGROUND-IMAGE: url(menuitem_checkbox.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center
}
.yui-skin-sam .yui-menu-shadow-visible {
	FILTER: alpha(opacity=12); BACKGROUND-COLOR: #000; opacity: .12
}
.yui-skin-sam .yuimenuitem-selected {
	BACKGROUND-COLOR: #b3d4ff
}
.yui-skin-sam .yuimenuitemlabel-disabled {
	COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yuimenuitemlabel-disabled:visited {
	COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yuimenuitem-hassubmenu-disabled {
	BACKGROUND-IMAGE: url(menuitem_submenuindicator_disabled.png)
}
.yui-skin-sam .yuimenuitem-checked-disabled {
	BACKGROUND-IMAGE: url(menuitem_checkbox_disabled.png)
}
.yui-calcontainer {
	POSITION: relative; FLOAT: left; _overflow: hidden
}
.yui-calcontainer IFRAME {
	Z-INDEX: 0; POSITION: absolute; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 100%; BORDER-LEFT-WIDTH: 0px; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.yui-calcontainer IFRAME.fixedsize {
	WIDTH: 50em; HEIGHT: 50em; TOP: -1px; LEFT: -1px
}
.multi.yui-calcontainer .groupcal {
	Z-INDEX: 1; POSITION: relative; FLOAT: left
}
.yui-calcontainer .title {
	Z-INDEX: 1; POSITION: relative
}
.yui-calcontainer .close-icon {
	Z-INDEX: 1; POSITION: absolute; TEXT-INDENT: -10000em; OVERFLOW: hidden
}
.yui-calendar {
	POSITION: relative
}
.yui-calendar .calnavleft {
	Z-INDEX: 1; POSITION: absolute; TEXT-INDENT: -10000em; OVERFLOW: hidden
}
.yui-calendar .calnavright {
	Z-INDEX: 1; POSITION: absolute; TEXT-INDENT: -10000em; OVERFLOW: hidden
}
.yui-calendar .calheader {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 100%
}
.yui-calcontainer .yui-cal-nav-mask {
	Z-INDEX: 2; POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 100%; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px; _width: 0; _height: 0
}
.yui-calcontainer .yui-cal-nav {
	Z-INDEX: 3; POSITION: absolute; DISPLAY: none; TOP: 0px
}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn {
	DISPLAY: inline-block
}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn BUTTON {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: transparent; DISPLAY: inline-block; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: visible; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.yui-calendar .calbody A:hover {
	
}
P#clear {
	CLEAR: left; PADDING-TOP: 10px
}
.yui-skin-sam .yui-calcontainer {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid; PADDING-TOP: 10px
}
.yui-skin-sam .multi.yui-calcontainer {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.yui-skin-sam .multi.yui-calcontainer .groupcal {
	PADDING-BOTTOM: 10px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 10px
}
.yui-skin-sam .yui-calcontainer .title {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0.4em; MARGIN: 0px -10px 10px; PADDING-LEFT: 0.4em; PADDING-RIGHT: 0.4em; FONT: bold 100% sans-serif; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) repeat-x 0px 0px; HEIGHT: auto; COLOR: #000; TOP: 0px; PADDING-TOP: 0.4em; LEFT: 0px
}
.yui-skin-sam .multi.yui-calcontainer .title {
	MARGIN: 0px -5px
}
.yui-skin-sam .withtitle.yui-calcontainer {
	PADDING-TOP: 0px
}
.yui-skin-sam .yui-calcontainer .calclose {
	WIDTH: 25px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) no-repeat 0px -300px; HEIGHT: 15px; TOP: 0.4em; CURSOR: pointer; RIGHT: 0.4em
}
.yui-skin-sam .yui-calendar {
	TEXT-ALIGN: center; MARGIN: 0px; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; FONT: 100% sans-serif
}
.yui-skin-sam .yui-calendar .calhead {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-calendar .calheader {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.6em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.yui-skin-sam .yui-calendar .calheader IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yui-calendar .calnavleft {
	WIDTH: 25px; BOTTOM: 0px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) no-repeat 0px -450px; HEIGHT: 15px; MARGIN-LEFT: 0.4em; TOP: 0px; CURSOR: pointer; LEFT: -10px
}
.yui-skin-sam .yui-calendar .calnavright {
	WIDTH: 25px; BOTTOM: 0px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) no-repeat 0px -500px; HEIGHT: 15px; TOP: 0px; CURSOR: pointer; RIGHT: -10px; MARGIN-RIGHT: 0.4em
}
.yui-skin-sam .yui-calendar .calweekdayrow {
	HEIGHT: 2em
}
.yui-skin-sam .yui-calendar .calweekdayrow TH {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-calendar .calweekdaycell {
	TEXT-ALIGN: center; WIDTH: 2em; COLOR: #000; FONT-WEIGHT: bold
}
.yui-skin-sam .yui-calendar .calfoot {
	BACKGROUND-COLOR: #f2f2f2
}
.yui-skin-sam .yui-calendar .calrowhead {
	BORDER-RIGHT-WIDTH: 0px; FONT-STYLE: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #a6a6a6; FONT-SIZE: 85%; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: normal
}
.yui-skin-sam .yui-calendar .calrowfoot {
	BORDER-RIGHT-WIDTH: 0px; FONT-STYLE: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #a6a6a6; FONT-SIZE: 85%; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: normal
}
.yui-skin-sam .yui-calendar .calrowhead {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-calendar .calrowfoot {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-calendar TD.calcell {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; WHITE-SPACE: nowrap; BACKGROUND: #fff; HEIGHT: 1.6em; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
.yui-skin-sam .yui-calendar TD.calcell A {
	DISPLAY: block; HEIGHT: 100%; COLOR: #06c; TEXT-DECORATION: none
}
.yui-skin-sam .yui-calendar TD.today.calcell {
	BACKGROUND-COLOR: #000
}
.yui-skin-sam .yui-calendar TD.today.calcell A {
	BACKGROUND-COLOR: #fff
}
.yui-skin-sam .yui-calendar TD.oom.calcell {
	BACKGROUND-COLOR: #ccc; COLOR: #a6a6a6; CURSOR: default
}
.yui-skin-sam .yui-calendar TD.oom.calcell A {
	COLOR: #a6a6a6
}
.yui-skin-sam .yui-calendar TD.selected.calcell {
	BACKGROUND-COLOR: #fff; COLOR: #000
}
.yui-skin-sam .yui-calendar TD.selected.calcell A {
	BACKGROUND-COLOR: #b3d4ff; COLOR: #000
}
.yui-skin-sam .yui-calendar TD.calcellhover.calcell {
	BACKGROUND-COLOR: #426fd9; COLOR: #fff; CURSOR: pointer
}
.yui-skin-sam .yui-calendar TD.calcellhover.calcell A {
	BACKGROUND-COLOR: #426fd9; COLOR: #fff
}
.yui-skin-sam .yui-calendar TD.previous.calcell {
	COLOR: #e0e0e0
}
.yui-skin-sam .yui-calendar TD.restricted.calcell {
	TEXT-DECORATION: line-through
}
.yui-skin-sam .yui-calendar TD.highlight1.calcell {
	BACKGROUND-COLOR: #cf9
}
.yui-skin-sam .yui-calendar TD.highlight2.calcell {
	BACKGROUND-COLOR: #9cf
}
.yui-skin-sam .yui-calendar TD.highlight3.calcell {
	BACKGROUND-COLOR: #fcc
}
.yui-skin-sam .yui-calendar TD.highlight4.calcell {
	BACKGROUND-COLOR: #cf9
}
.yui-skin-sam .yui-calendar A.calnav {
	BORDER-BOTTOM: #f2f2f2 1px solid; BORDER-LEFT: #f2f2f2 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; ZOOM: 1; COLOR: #000; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.yui-skin-sam .yui-calendar A.calnav:hover {
	BORDER-BOTTOM-COLOR: #a0a0a0; BORDER-TOP-COLOR: #a0a0a0; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) repeat-x 0px 0px; BORDER-RIGHT-COLOR: #a0a0a0; BORDER-LEFT-COLOR: #a0a0a0; CURSOR: pointer
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-mask {
	FILTER: alpha(opacity=25); BACKGROUND-COLOR: #000; opacity: .25
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 0px; WIDTH: 14em; PADDING-RIGHT: 0px; FONT-FAMILY: arial,helvetica,clean,sans-serif; MARGIN-LEFT: -7em; FONT-SIZE: 93%; BORDER-TOP: #808080 1px solid; TOP: 2.5em; BORDER-RIGHT: #808080 1px solid; PADDING-TOP: 0px; LEFT: 50%
}
.yui-skin-sam .withtitle.yui-calcontainer .yui-cal-nav {
	TOP: 4.5em
}
.yui-skin-sam .multi.yui-calcontainer .yui-cal-nav {
	WIDTH: 16em; MARGIN-LEFT: -8em
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-y {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-m {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-b {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-b {
	TEXT-ALIGN: center
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-e {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #edf5ff; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: none; BORDER-TOP: black 1px solid; PADDING-TOP: 5px
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav LABEL {
	DISPLAY: block; FONT-WEIGHT: bold
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-mc {
	WIDTH: 100%; _width: auto
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-y INPUT.yui-invalid {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BACKGROUND-COLOR: #ffee69; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-yc {
	WIDTH: 4em
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; MARGIN: auto 0.15em; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #ccc repeat-x 0px 0px; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn BUTTON {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.7; MIN-HEIGHT: auto; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #000; FONT-SIZE: 93%; PADDING-TOP: 0px
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-default.yui-cal-nav-btn {
	BORDER-BOTTOM: #304369 1px solid; BORDER-LEFT: #304369 1px solid; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) repeat-x 0px -1400px; BORDER-TOP: #304369 1px solid; BORDER-RIGHT: #304369 1px solid
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-default.yui-cal-nav-btn BUTTON {
	COLOR: #fff
}
.yui-pb-bar {
	WIDTH: 100%; HEIGHT: 100%
}
.yui-pb-mask {
	WIDTH: 100%; HEIGHT: 100%
}
.yui-pb {
	POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 20px; BORDER-LEFT-WIDTH: 0px; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.yui-pb-mask {
	Z-INDEX: 2; POSITION: absolute; TOP: 0px; LEFT: 0px
}
.yui-pb-mask DIV {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 50%; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50%; PADDING-TOP: 0px
}
.yui-pb-tl {
	BACKGROUND-POSITION: left top
}
.yui-pb-tr {
	BACKGROUND-POSITION: right top; LEFT: 50%
}
.yui-pb-bl {
	BACKGROUND-POSITION: left bottom; TOP: 50%
}
.yui-pb-br {
	BACKGROUND-POSITION: right bottom; TOP: 50%; LEFT: 50%
}
.yui-pb-bar {
	Z-INDEX: 1; POSITION: absolute; MARGIN: 0px; TOP: 0px; LEFT: 0px
}
.yui-pb-ltr .yui-pb-bar {
	_position: static
}
.yui-pb-rtl .yui-pb-bar {
	BACKGROUND-POSITION: right 50%
}
.yui-pb-btt .yui-pb-bar {
	BACKGROUND-POSITION: left bottom
}
.yui-pb-bar {
	BACKGROUND-COLOR: blue
}
.yui-pb {
	BORDER-BOTTOM: #808080 thin solid; BORDER-LEFT: #808080 thin solid; BORDER-TOP: #808080 thin solid; BORDER-RIGHT: #808080 thin solid
}
.yui-skin-sam .yui-pb {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 0px solid; BACKGROUND-COLOR: transparent; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 0px solid
}
.yui-skin-sam .yui-pb-rtl {
	BACKGROUND-IMAGE: url(back-h.png); BACKGROUND-REPEAT: repeat-x
}
.yui-skin-sam .yui-pb-ltr {
	BACKGROUND-IMAGE: url(back-h.png); BACKGROUND-REPEAT: repeat-x
}
.yui-skin-sam .yui-pb-ttb {
	BACKGROUND-IMAGE: url(back-v.png); BACKGROUND-REPEAT: repeat-y
}
.yui-skin-sam .yui-pb-btt {
	BACKGROUND-IMAGE: url(back-v.png); BACKGROUND-REPEAT: repeat-y
}
.yui-skin-sam .yui-pb-bar {
	BACKGROUND-COLOR: transparent
}
.yui-skin-sam .yui-pb-ltr .yui-pb-bar {
	BACKGROUND-IMAGE: url(bar-h.png); BACKGROUND-REPEAT: repeat-x
}
.yui-skin-sam .yui-pb-rtl .yui-pb-bar {
	BACKGROUND-IMAGE: url(bar-h.png); BACKGROUND-REPEAT: repeat-x
}
.yui-skin-sam .yui-pb-ttb .yui-pb-bar {
	BACKGROUND-IMAGE: url(bar-v.png); BACKGROUND-REPEAT: repeat-y
}
.yui-skin-sam .yui-pb-btt .yui-pb-bar {
	BACKGROUND-IMAGE: url(bar-v.png); BACKGROUND-REPEAT: repeat-y
}
.yui-skin-sam .yui-pb-mask {
	BORDER-BOTTOM: #808080 0px solid; BORDER-LEFT: #808080 1px solid; MARGIN: 0px -1px; BORDER-TOP: #808080 0px solid; BORDER-RIGHT: #808080 1px solid
}
.yui-skin-sam .yui-pb-caption {
	TEXT-ALIGN: center; MARGIN: 0px auto; COLOR: #000
}
.yui-skin-sam .yui-pb-range {
	COLOR: #a6a6a6
}
.yui-overlay {
	Z-INDEX: 2; POSITION: absolute; VISIBILITY: hidden
}
.yui-panel-container {
	Z-INDEX: 2; POSITION: absolute; VISIBILITY: hidden
}
.yui-panel {
	POSITION: relative
}
.yui-panel-container FORM {
	MARGIN: 0px
}
.mask {
	Z-INDEX: 1; POSITION: absolute; BOTTOM: 0px; DISPLAY: none; TOP: 0px; RIGHT: 0px; LEFT: 0px
}
.block-scrollbars.mask {
	OVERFLOW: auto
}
.masked SELECT {
	_visibility: hidden
}
.drag SELECT {
	_visibility: hidden
}
.hide-select SELECT {
	_visibility: hidden
}
.yui-panel-container SELECT {
	_visibility: inherit
}
.hide-scrollbars {
	OVERFLOW: hidden
}
.hide-scrollbars * {
	OVERFLOW: hidden
}
.hide-scrollbars SELECT {
	DISPLAY: none
}
.show-scrollbars {
	OVERFLOW: auto
}
.show-scrollbars.yui-panel-container {
	OVERFLOW: visible
}
.show-scrollbars.yui-tt {
	OVERFLOW: visible
}
.show-scrollbars.yui-panel-container .underlay {
	OVERFLOW: auto
}
.show-scrollbars.yui-tt .yui-tt-shadow {
	OVERFLOW: auto
}
.shadow.yui-panel-container .yui-force-redraw.underlay {
	PADDING-BOTTOM: 1px
}
.yui-effect-fade .underlay {
	DISPLAY: none
}
.yui-effect-fade .yui-tt-shadow {
	DISPLAY: none
}
.yui-tt-shadow {
	POSITION: absolute
}
.yui-override-padding {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
.yui-panel-container .container-close {
	TEXT-INDENT: -10000em; OVERFLOW: hidden; TEXT-DECORATION: none
}
.yui-force-redraw.yui-overlay {
	MARGIN-BOTTOM: 1px
}
.yui-force-redraw.yui-panel-container {
	MARGIN-BOTTOM: 1px
}
.yui-skin-sam .mask {
	FILTER: alpha(opacity=60); BACKGROUND: url(../../img/base/scrimPattern.gif); opacity: .60
}
.yui-skin-sam .yui-panel-container {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.yui-skin-sam .yui-panel {
	Z-INDEX: 1; BORDER-BOTTOM: #808080 1px solid; POSITION: relative; BORDER-LEFT: #808080 1px solid; ZOOM: 1; BORDER-TOP: #808080 1px solid; TOP: 0px; BORDER-RIGHT: #808080 1px solid; LEFT: 0px; _zoom: normal
}
.yui-skin-sam .yui-panel .hd {
	BORDER-BOTTOM: #808080 0px solid; BORDER-LEFT: #808080 0px solid; MARGIN: 0px; BORDER-TOP: #808080 0px solid; BORDER-RIGHT: #808080 0px solid
}
.yui-skin-sam .yui-panel .bd {
	BORDER-BOTTOM: #808080 0px solid; BORDER-LEFT: #808080 0px solid; MARGIN: 0px; BORDER-TOP: #808080 0px solid; BORDER-RIGHT: #808080 0px solid
}
.yui-skin-sam .yui-panel .ft {
	BORDER-BOTTOM: #808080 0px solid; BORDER-LEFT: #808080 0px solid; MARGIN: 0px; BORDER-TOP: #808080 0px solid; BORDER-RIGHT: #808080 0px solid
}
.yui-skin-sam .yui-panel .hd {
	BORDER-BOTTOM: #ccc 1px solid
}
.yui-skin-sam .yui-panel .bd {
	BACKGROUND-COLOR: #f2f2f2
}
.yui-skin-sam .yui-panel .ft {
	BACKGROUND-COLOR: #f2f2f2
}
.yui-skin-sam .yui-panel .hd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.9; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) repeat-x 0px -200px; COLOR: #000; FONT-SIZE: 93%; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.yui-skin-sam .yui-panel .bd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.yui-skin-sam .yui-panel .ft {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 77%; BORDER-TOP: #808080 1px solid; PADDING-TOP: 5px
}
.yui-skin-sam .container-close {
	POSITION: absolute; WIDTH: 25px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) no-repeat 0px -300px; HEIGHT: 15px; TOP: 5px; CURSOR: pointer; RIGHT: 6px
}
.yui-skin-sam .yui-panel-container .underlay {
	RIGHT: -1px; LEFT: -1px
}
.yui-skin-sam .matte.yui-panel-container {
	PADDING-BOTTOM: 9px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 9px
}
.yui-skin-sam .shadow.yui-panel-container {
	_padding: 2px 4px 0 2px
}
.yui-skin-sam .shadow.yui-panel-container .underlay {
	POSITION: absolute; FILTER: alpha(opacity=12); BACKGROUND-COLOR: #000; BOTTOM: -1px; TOP: 4px; RIGHT: -1px; LEFT: -1px; _margin-left: -1px; opacity: .12; _top: 0; _left: 0; _right: 0; _bottom: 0; _margin-top: 3px
}
.yui-skin-sam .yui-dialog .ft {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP-WIDTH: 0px; FONT-SIZE: 100%; PADDING-TOP: 0px
}
.yui-skin-sam .yui-dialog .ft .button-group {
	TEXT-ALIGN: right; DISPLAY: block
}
.yui-skin-sam .yui-dialog .ft BUTTON.default {
	FONT-WEIGHT: bold
}
.yui-skin-sam .yui-dialog .ft SPAN.default {
	BORDER-BOTTOM-COLOR: #304369; BORDER-TOP-COLOR: #304369; BACKGROUND-POSITION: 0px -1400px; BORDER-RIGHT-COLOR: #304369; BORDER-LEFT-COLOR: #304369
}
.yui-skin-sam .yui-dialog .ft SPAN.default .first-child {
	BORDER-BOTTOM-COLOR: #304369; BORDER-TOP-COLOR: #304369; BORDER-RIGHT-COLOR: #304369; BORDER-LEFT-COLOR: #304369
}
.yui-skin-sam .yui-dialog .ft SPAN.default BUTTON {
	COLOR: #fff
}
.yui-skin-sam .yui-dialog .ft SPAN.yui-button-disabled {
	BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BACKGROUND-POSITION: 0px -1500px; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.yui-skin-sam .yui-dialog .ft SPAN.yui-button-disabled .first-child {
	BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
.yui-skin-sam .yui-dialog .ft SPAN.yui-button-disabled BUTTON {
	COLOR: #a6a6a6
}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon {
	WIDTH: 16px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) no-repeat 0px 0px; FLOAT: left; HEIGHT: 16px; MARGIN-RIGHT: 10px
}
.yui-skin-sam .yui-simple-dialog .bd SPAN.blckicon {
	BACKGROUND-POSITION: 0px -1100px
}
.yui-skin-sam .yui-simple-dialog .bd SPAN.alrticon {
	BACKGROUND-POSITION: 0px -1050px
}
.yui-skin-sam .yui-simple-dialog .bd SPAN.hlpicon {
	BACKGROUND-POSITION: 0px -1150px
}
.yui-skin-sam .yui-simple-dialog .bd SPAN.infoicon {
	BACKGROUND-POSITION: 0px -1200px
}
.yui-skin-sam .yui-simple-dialog .bd SPAN.warnicon {
	BACKGROUND-POSITION: 0px -1900px
}
.yui-skin-sam .yui-simple-dialog .bd SPAN.tipicon {
	BACKGROUND-POSITION: 0px -1250px
}
.yui-skin-sam .yui-tt .bd {
	Z-INDEX: 1; BORDER-BOTTOM: #a6982b 1px solid; POSITION: relative; BORDER-LEFT: #a6982b 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffee69; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #000; BORDER-TOP: #d4c237 1px solid; TOP: 0px; BORDER-RIGHT: #a6982b 1px solid; PADDING-TOP: 2px; LEFT: 0px
}
.yui-skin-sam .show-scrollbars.yui-tt .bd {
	OVERFLOW: auto
}
.yui-skin-sam .yui-tt-shadow {
	BACKGROUND-COLOR: #000; BOTTOM: -3px; TOP: 2px; RIGHT: -3px; LEFT: -3px
}
.yui-skin-sam .yui-tt-shadow-visible {
	FILTER: alpha(opacity=12); opacity: .12
}
.yui-navset .yui-nav LI {
	MARGIN: 0px 0.5em 0px 0px
}
.yui-navset .yui-navset-top .yui-nav LI {
	MARGIN: 0px 0.5em 0px 0px
}
.yui-navset .yui-navset-bottom .yui-nav LI {
	MARGIN: 0px 0.5em 0px 0px
}
.yui-navset-left .yui-nav LI {
	MARGIN: 0px 0px 0.5em
}
.yui-navset-right .yui-nav LI {
	MARGIN: 0px 0px 0.5em
}
.yui-navset .yui-content .yui-hidden {
	POSITION: absolute; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px; LEFT: -999999px
}
.yui-navset .yui-navset-left .yui-nav {
	WIDTH: 6em
}
.yui-navset .yui-navset-right .yui-nav {
	WIDTH: 6em
}
.yui-navset-left .yui-nav {
	WIDTH: 6em
}
.yui-navset-right .yui-nav {
	WIDTH: 6em
}
.yui-navset-top .yui-nav {
	WIDTH: auto
}
.yui-navset-bottom .yui-nav {
	WIDTH: auto
}
.yui-navset .yui-navset-left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6em; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-navset-left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6em; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-navset-right {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 6em; PADDING-TOP: 0px
}
.yui-navset-top {
	
}
.yui-navset-bottom {
	
}
.yui-nav {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-nav LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-navset LI EM {
	FONT-STYLE: normal
}
.yui-navset {
	POSITION: relative; ZOOM: 1
}
.yui-navset .yui-content {
	ZOOM: 1
}
.yui-navset .yui-content DIV {
	ZOOM: 1
}
.yui-navset .yui-content:after {
	DISPLAY: block; CLEAR: both; CONTENT: ''
}
.yui-navset .yui-nav LI {
	ZOOM: 1; DISPLAY: inline; VERTICAL-ALIGN: bottom; CURSOR: pointer
}
.yui-navset .yui-navset-top .yui-nav LI {
	ZOOM: 1; DISPLAY: inline; VERTICAL-ALIGN: bottom; CURSOR: pointer
}
.yui-navset .yui-navset-bottom .yui-nav LI {
	ZOOM: 1; DISPLAY: inline; VERTICAL-ALIGN: bottom; CURSOR: pointer
}
.yui-navset-left .yui-nav LI {
	DISPLAY: block
}
.yui-navset-right .yui-nav LI {
	DISPLAY: block
}
.yui-navset .yui-nav A {
	POSITION: relative
}
.yui-navset .yui-nav LI A {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: bottom
}
.yui-navset-top .yui-nav LI A {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: bottom
}
.yui-navset-bottom .yui-nav LI A {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: bottom
}
.yui-navset-left .yui-nav LI A {
	DISPLAY: block
}
.yui-navset-right .yui-nav LI A {
	DISPLAY: block
}
.yui-navset-bottom .yui-nav LI A {
	VERTICAL-ALIGN: text-top
}
.yui-navset .yui-nav LI A EM {
	DISPLAY: block
}
.yui-navset-top .yui-nav LI A EM {
	DISPLAY: block
}
.yui-navset-bottom .yui-nav LI A EM {
	DISPLAY: block
}
.yui-navset .yui-navset-left .yui-nav {
	Z-INDEX: 1; POSITION: absolute
}
.yui-navset .yui-navset-right .yui-nav {
	Z-INDEX: 1; POSITION: absolute
}
.yui-navset-left .yui-nav {
	Z-INDEX: 1; POSITION: absolute
}
.yui-navset-right .yui-nav {
	Z-INDEX: 1; POSITION: absolute
}
.yui-navset-top .yui-nav {
	POSITION: static
}
.yui-navset-bottom .yui-nav {
	POSITION: static
}
.yui-navset .yui-navset-left .yui-nav {
	RIGHT: auto; LEFT: 0px
}
.yui-navset-left .yui-nav {
	RIGHT: auto; LEFT: 0px
}
.yui-navset .yui-navset-right .yui-nav {
	RIGHT: 0px; LEFT: auto
}
.yui-navset-right .yui-nav {
	RIGHT: 0px; LEFT: auto
}
.yui-skin-sam .yui-navset .yui-nav {
	BORDER-BOTTOM: #2647a0 5px solid; BORDER-LEFT: #2647a0 0px solid; ZOOM: 1; BORDER-TOP: #2647a0 0px solid; BORDER-RIGHT: #2647a0 0px solid
}
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
	BORDER-BOTTOM: #2647a0 5px solid; BORDER-LEFT: #2647a0 0px solid; ZOOM: 1; BORDER-TOP: #2647a0 0px solid; BORDER-RIGHT: #2647a0 0px solid
}
.yui-skin-sam .yui-navset .yui-nav LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0.16em 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; PADDING-TOP: 1px
}
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0.16em 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; PADDING-TOP: 1px
}
.yui-skin-sam .yui-navset .yui-nav .selected {
	MARGIN: 0px 0.16em -1px 0px
}
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected {
	MARGIN: 0px 0.16em -1px 0px
}
.yui-skin-sam .yui-navset .yui-nav A {
	BORDER-BOTTOM: #a3a3a3 0px solid; POSITION: relative; BORDER-LEFT: #a3a3a3 1px solid; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #d8d8d8 repeat-x; COLOR: #000; BORDER-TOP: #a3a3a3 0px solid; BORDER-RIGHT: #a3a3a3 1px solid; TEXT-DECORATION: none
}
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav A {
	BORDER-BOTTOM: #a3a3a3 0px solid; POSITION: relative; BORDER-LEFT: #a3a3a3 1px solid; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #d8d8d8 repeat-x; COLOR: #000; BORDER-TOP: #a3a3a3 0px solid; BORDER-RIGHT: #a3a3a3 1px solid; TEXT-DECORATION: none
}
.yui-skin-sam .yui-navset .yui-nav A EM {
	BORDER-BOTTOM: #a3a3a3 0px solid; POSITION: relative; BORDER-LEFT: #a3a3a3 0px solid; PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.75em; BOTTOM: 0px; PADDING-RIGHT: 0.75em; BORDER-TOP: #a3a3a3 1px solid; TOP: -1px; RIGHT: 0px; BORDER-RIGHT: #a3a3a3 0px solid; PADDING-TOP: 0.25em; LEFT: 0px
}
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav A EM {
	BORDER-BOTTOM: #a3a3a3 0px solid; POSITION: relative; BORDER-LEFT: #a3a3a3 0px solid; PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.75em; BOTTOM: 0px; PADDING-RIGHT: 0.75em; BORDER-TOP: #a3a3a3 1px solid; TOP: -1px; RIGHT: 0px; BORDER-RIGHT: #a3a3a3 0px solid; PADDING-TOP: 0.25em; LEFT: 0px
}
.yui-skin-sam .yui-navset .yui-nav .selected A {
	BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #2647a0 repeat-x left -1400px; COLOR: #fff
}
.yui-skin-sam .yui-navset .yui-nav .selected A:focus {
	BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #2647a0 repeat-x left -1400px; COLOR: #fff
}
.yui-skin-sam .yui-navset .yui-nav .selected A:hover {
	BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #2647a0 repeat-x left -1400px; COLOR: #fff
}
.yui-skin-sam .yui-navset .yui-nav A:hover {
	OUTLINE-WIDTH: 0px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #bfdaff repeat-x left -1300px
}
.yui-skin-sam .yui-navset .yui-nav A:focus {
	OUTLINE-WIDTH: 0px; BACKGROUND: url(../../js/base/yui/assets/skins/sam/sprite.png) #bfdaff repeat-x left -1300px
}
.yui-skin-sam .yui-navset .yui-nav .selected A EM {
	PADDING-BOTTOM: 0.35em; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; PADDING-TOP: 0.35em
}
.yui-skin-sam .yui-navset .yui-nav .selected A {
	BORDER-BOTTOM-COLOR: #243356; BORDER-TOP-COLOR: #243356; BORDER-RIGHT-COLOR: #243356; BORDER-LEFT-COLOR: #243356
}
.yui-skin-sam .yui-navset .yui-nav .selected A EM {
	BORDER-BOTTOM-COLOR: #243356; BORDER-TOP-COLOR: #243356; BORDER-RIGHT-COLOR: #243356; BORDER-LEFT-COLOR: #243356
}
.yui-skin-sam .yui-navset .yui-content {
	BACKGROUND: #edf5ff
}
.yui-skin-sam .yui-navset .yui-content {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #243356 1px solid; BORDER-RIGHT: #808080 1px solid; PADDING-TOP: 0.25em
}
.yui-skin-sam .yui-navset .yui-navset-top .yui-content {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #808080 1px solid; PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #243356 1px solid; BORDER-RIGHT: #808080 1px solid; PADDING-TOP: 0.25em
}
.yui-skin-sam .yui-navset-left .yui-nav {
	BORDER-RIGHT-WIDTH: 5px; BOTTOM: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TOP: 0px; Xposition: absolute
}
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav {
	BORDER-RIGHT-WIDTH: 5px; BOTTOM: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TOP: 0px; Xposition: absolute
}
.yui-skin-sam .yui-navset .yui-navset-right .yui-nav {
	BORDER-RIGHT-WIDTH: 5px; BOTTOM: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TOP: 0px; Xposition: absolute
}
.yui-skin-sam .yui-navset-right .yui-nav {
	BORDER-RIGHT-WIDTH: 5px; BOTTOM: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TOP: 0px; Xposition: absolute
}
.yui-skin-sam .yui-navset .yui-navset-right .yui-nav {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 5px
}
.yui-skin-sam .yui-navset-right .yui-nav {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 5px
}
.yui-skin-sam .yui-navset-left .yui-nav LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.16em; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.16em; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-navset-right .yui-nav LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.16em; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-navset-right .yui-nav LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 1px; PADDING-TOP: 0px
}
.yui-skin-sam .yui-navset-left .yui-nav .selected {
	MARGIN: 0px -1px 0.16em 0px
}
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected {
	MARGIN: 0px -1px 0.16em 0px
}
.yui-skin-sam .yui-navset-right .yui-nav .selected {
	MARGIN: 0px 0px 0.16em -1px
}
.yui-skin-sam .yui-navset-left .yui-nav A {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yui-navset-right .yui-nav A {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yui-navset-left .yui-nav A EM {
	PADDING-BOTTOM: 0.2em; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; TOP: auto; PADDING-TOP: 0.2em; LEFT: -1px
}
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav A EM {
	PADDING-BOTTOM: 0.2em; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; TOP: auto; PADDING-TOP: 0.2em; LEFT: -1px
}
.yui-skin-sam .yui-navset-right .yui-nav A EM {
	PADDING-BOTTOM: 0.2em; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; TOP: auto; PADDING-TOP: 0.2em; LEFT: -1px
}
.yui-skin-sam .yui-navset-right .yui-nav A EM {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; RIGHT: -1px; LEFT: auto
}
.yui-skin-sam .yui-navset-left .yui-nav A {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-left .yui-nav .selected A {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-left .yui-nav A:hover {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-right .yui-nav A {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-right .yui-nav .selected A {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-right .yui-nav A:hover {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-bottom .yui-nav A {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-bottom .yui-nav .selected A {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-bottom .yui-nav A:hover {
	BACKGROUND-IMAGE: none
}
.yui-skin-sam .yui-navset-left .yui-content {
	BORDER-BOTTOM: #808080 1px solid; BORDER-LEFT: #243356 1px solid; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
.yui-skin-sam .yui-navset-bottom .yui-nav {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 5px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 5px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected {
	MARGIN: -1px 0.16em 0px 0px
}
.yui-skin-sam .yui-navset-bottom .yui-nav .selected {
	MARGIN: -1px 0.16em 0px 0px
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.yui-skin-sam .yui-navset-bottom .yui-nav LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav A EM {
	BORDER-RIGHT-WIDTH: 0px; BOTTOM: -1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; TOP: auto
}
.yui-skin-sam .yui-navset-bottom .yui-nav A EM {
	BORDER-RIGHT-WIDTH: 0px; BOTTOM: -1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; TOP: auto
}
.yui-skin-sam .yui-navset-bottom .yui-content {
	BORDER-BOTTOM: #243356 1px solid; BORDER-LEFT: #808080 1px solid; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content {
	BORDER-BOTTOM: #243356 1px solid; BORDER-LEFT: #808080 1px solid; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid
}
