<!doctype html>
<html lang="en" data-ng-app="krossOverAssessment">
	<head>
		<meta charset="utf-8">
		<title>Clock Assessment</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="css/bootstrap.css">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic|Courgette' rel='stylesheet' type='text/css'>
		<link href="css/styles.css" rel="stylesheet" media="screen">
		
		<script src="lib/jquery/jquery-1.10.2.js"></script>
		<script src="lib/angular/angular.js"></script>
		
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>
	</head>
	<body>
		<div class="container">
			<h1></h1>			
		</div>
		<div class="jumbotron">
			<div class="container">
				<h1>Clock Assessment!!</h1>
				<p>Learn more about me by click on the link below.</p>
				<p><a class="btn btn-primary btn-lg" role="button" href="http://www.linkedin.com/in/hardikrbhatt/">Learn more &raquo;</a></p>
			</div>
		</div>
		<div class="container">
			<!-- row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Current Time:</h2>
					<div data-ng-controller="clockKrossOver">
						<legend>{{currentTimeString}}</legend>
						<p><a class="btn btn-default" href="#" role="button" data-ng-click="stop()">Pause</a> 
						<a class="btn btn-default" href="#" role="button" data-ng-click="reset()">Start</a></p> 
					</div>
				</div>
				<div class="col-md-4">
					<h2>Set Alarm:</h2>
					
					<p><span data-ng-controller="alermHour"><select ng-change="selectAction()" data-ng-model="myHour" data-ng-options="hour for hour in alarmHours()">--</select>Hour</span>
					<span data-ng-controller="alermMinute"><select ng-change="selectAction()" data-ng-model="myMinute" data-ng-options="minute for minute in alermMinutes()">--</select>Minutes</span>
					<span data-ng-controller="alermSecond"><select ng-change="selectAction()" data-ng-model="mySecond" data-ng-options="seconds for seconds in alermSeconds()">--</select>Seconds</span>
					</p>
					
					
				</div>
				<div class="col-md-4">
					<h2>Alarm Action:</h2>
					<span data-ng-controller="alermSet">
						<p><a href="http://www.hardibhatt.org/" class="input-lg">Click Here</a></p>
						<!-- <p><a data-ng-click="setAlarm()" class="btn btn-default" href="#" role="button" >Set Alarm!</a></p> -->
					</span>					
				</div>
			</div>
			<hr>

			<footer>
			<p>&copy; Assessment 2/6/2014</p>
			</footer>
		</div>
	</body>
</html>
